<div class="categories container ">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="vjencanja col mb-4 mx-3 d-flex justify-content-center align-items-center"><a href="#" routerLink="/categories/vjencanja"><p>Rekla je da</p></a></div>
        <div class="gradovi col mb-4 animate__animated animate__backInDown mx-3 d-flex justify-content-center align-items-center"><a href="#" routerLink="/categories/gradovi"><p>Ulicama grada</p></a></div>
        <div class="kreativnost col mb-4 animate__animated animate__backInRight mx-3 d-flex justify-content-center align-items-center"><a href="#" routerLink="/categories/kreativnost"><p>Kreativnost</p></a></div>
        <div class="portreti col animate__animated animate__backInLeft mx-3 d-flex justify-content-center align-items-center"><a href="#" routerLink="/categories/portreti"><p>Osmijeh, molim!</p></a></div>
        <div class="priroda col animate__animated animate__backInUp mx-3 d-flex justify-content-center align-items-center"><a href="#" routerLink="/categories/priroda"><p>Prirodne ljepote</p></a></div>
        <div class="ostalo col animate__animated animate__backInRight mx-3 d-flex justify-content-center align-items-center"><a href="#" routerLink="/categories/ostalo"><p>Ostalo</p></a></div>
      </div>
  </div>