.sidebar {
  position: relative;
  height:82vh;


  & .rectangle {
      width:80px;
      height:104vh;
      top:-14.1vh;
      background-color: var(--color-primary);
      position: relative;
  }

  & svg {
      position: relative;
      width: 100%;
      fill: #f2f2f2;
      top:10vh;
  }

  & svg:hover {
    animation: headShake;
    animation-duration: 1s;
  }

  & .socials {
      margin-top:20vh;
  }

  & .offcanvas {
    background-color: var(--color-primary);
  }

  & .offcanvas-title {
      position: relative;
      top:-5vh;
      width: 100%;
      fill: #f2f2f2;
  }

  & .about {
    font-family:var(--font-montez);
    color: #fff;
    font-size: var(--font-xxl);
    line-height: 2em;
  }

  & .contact {
    color: #fff;
    font-family:var(--font-montez);
  }

  & .socials-2 {
      & svg {
          width: 50%;
      }
  }

  & .login {
      position: relative;
      border:white solid 1px;
      background-color: var(--color-primary);
      font-family:var(--font-montez);
      font-size:var(--font-xxl);
      min-width: 15rem;
      color:white;
  }

  & .login:hover {
    background-color: #fff;
    color:var(--color-primary);
    animation: pulse;
    animation-duration: 1.5s;
}

  & .admin {
    color: #fff;
    font-family:var(--font-montez);
    font-size:var(--font-xxxl);
    border-bottom: white solid 1px;
  }

  & .material-icons {
    & .material-icons-outlined {
      font-size: var(--font-xl);
      color: #fff;
    }
  }

  & .material-icons:hover {
    animation: rotateIn;
    animation-duration: 1s;
  }

}

.modal-header {
  background-color: var(--color-primary);
  color: #fff;
  font-family: var(--font-breattogis);
  text-align: center;
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-montez);
  font-size: var(--font-xxxl);
  margin-top: 10%;
  margin-bottom: 10%;
}

.modal-footer {
  
  & .btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    font-family: var(--font-montez);
    font-size: var(--font-xl);
  }

  & .btn-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
    color: var(--color-primary);
    font-family: var(--font-montez);
    font-size: var(--font-xl);
  }

}

.material-icons {
  & .material-icons-outlined {
    font-size: var(--font-xl);
    color: #fff;
  }
}

.material-icons:hover {
  animation: rotateIn;
  animation-duration: 1s;
}

textarea {
  resize: none;
}

.btn:focus {
  border-color: var(--color-primary);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus{
    border-color: var(--color-primary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

::placeholder {
  color: var(--color-primary);
  opacity: 1;
  font-style: italic;
  font-family: var(--font-montez);
  font-size: var(--font-xl);
}

:-ms-input-placeholder {
  color: var(--color-primary);
  font-style: italic;
  font-family: var(--font-montez);
  font-size: var(--font-xl);
}

::-ms-input-placeholder {
  color: var(--color-primary);
  font-style: italic;
  font-family: var(--font-montez);
  font-size: var(--font-xl);
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 6px 6px 6px;
  cursor: pointer;
  font-family: var(--font-montez);
  color: var(--color-primary);
  font-size: var(--font-xl);
}

.material-icons {
  color: var(--color-primary);
}

.modal-footer {
  background-color: var(--color-secondary);
}

#modal-login {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-family: var(--font-montez);
  font-size: var(--font-xl);
  color: #fff;
}

@media only screen and (max-width: 640px) {
  .sidebar {
    height: 65vh;
    & .rectangle {
      top: -39.5%;
      width: 10%;
      height: 111vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } 

    & .socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 10vh;
    }

    & svg {
      width: 2rem;
      top: -10vh;
  }

  & .offcanvas {
    width: 100%;

    & .offcanvas-title {
      top: 2vh;
      border-bottom: #ccc 1px solid;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      & svg {
        width: 15rem;
        top: -2%;
      }
    }

    & .socials-2 {

      & svg {
        top: 5vh;
      }
    }
  }
}

}

@media only screen and ( min-width: 1024px ) and (max-width: 1440px) {
  .sidebar {
    height: 65vh;
    & .rectangle {
      top: -28%;
      width: 5%;
      height: 104vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } 

    & .socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 10vh;
    }

    & svg {
      width: 2rem;
      top: -10vh;
  }

  & .offcanvas {
    width: 100%;
    text-align: center;

    & .offcanvas-title {
      top: 2vh;
      border-bottom: #ccc 1px solid;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      & svg {
        width: 15rem;
        top: -2%;
      }
    }

    & .about {
      margin-top: -5vh;
    }

    & .socials-2 {

      display:flex;
      flex-direction: row;
      justify-content: center;
      justify-content:space-around;
      width: 50%;
      margin-left: 25%;

      & svg {
        top: 5vh;
        width: 5rem;
      }
    }
  }
}

}

@media only screen and ( min-width: 700px ) and (max-width: 1000px) {
  .sidebar {

    & .rectangle {
      top: -32%;
      width: 10%;
      height: 109vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } 

    & .socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 10vh;
    }

    & svg {
      width: 3rem;
      top: -10vh;
  }

  & .offcanvas {
    width: 100%;
    text-align: center;

    & .offcanvas-title {
      top: 2vh;
      border-bottom: #ccc 1px solid;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      & svg {
        width: 15rem;
        top: -2%;
      }
    }

    & .about {

      font-size: var(--font-jumbo);

    }

    & .contact {

      margin-top: 5vh;

    }

    & .socials-2 {

      & svg {
        margin-top: 17vh;
      }
    }

    & .login {

      margin-top: -50vh;

    }

    & .admin {
      
      margin-top: -1vh;

      & p {

        margin-top: -10vh;
  
      }

    }
    }
  }
}

@media only screen and ( min-width: 1024px ) and (max-width: 1366px) {
  .sidebar {

    & .rectangle {
      top: -32%;
      width: 6%;
      height: 110vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } 
  }
}
