<div class="categories container ">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="vjencanja col mb-4 mx-3 d-flex justify-content-center align-items-center"><p>Rekla je da</p></div>
        <div class="gradovi col mb-4 animate__animated animate__backInDown mx-3 d-flex justify-content-center align-items-center"><p>Ulicama grada</p></div>
        <div class="kreativnost col mb-4 animate__animated animate__backInRight mx-3 d-flex justify-content-center align-items-center"><p>Kreativnost</p></div>
        <div class="portreti col animate__animated animate__backInLeft mx-3 d-flex justify-content-center align-items-center"><p>Osmijeh, molim!</p></div>
        <div class="priroda col animate__animated animate__backInUp mx-3 d-flex justify-content-center align-items-center"><p>Prirodne ljepote</p></div>
        <div class="ostalo col animate__animated animate__backInRight mx-3 d-flex justify-content-center align-items-center"><p>Ostalo</p></div>
      </div>
</div>