.container {
    margin-top: -10vh;
    z-index: 0;

    & mat-icon {
        font-size: 30px;
        color: var(--color-primary);
    }

}

@media only screen and (max-width: 640px) {
    .container {
        margin-top: 10vh;
    }
  
  }
  
  @media only screen and ( min-width: 1024px ) and (max-width: 1440px) {
    .container {
        margin-top: 5vh;
    }
  }
  
  
  @media only screen and ( min-width: 700px ) and (max-width: 1000px) {
    .container {
        margin-top: 5vh;
  }
}
