.container {
    margin-left: 40px;
    width: 10%;
    z-index: 0;

    & mat-icon {
        font-size: 50px;
        color: #fff;
        padding-left: -55px;
        margin-top: -15vh;

  }
}

@media only screen and (max-width: 640px) {
    .container {
        margin-top: 10vh;
        width: 50%;
        margin-left: 20px;

        & mat-icon {
          font-size: 30px;
          color: rgb(255, 255, 255);
          margin-left: -22px;
      }
    }
  }

  @media only screen and ( max-width: 320px ) and ( min-height: 658px ) {
    .container {
        margin-top: 15vh;
        width: 80%;
        margin-left: 14px;

        & mat-icon {
          font-size: 30px;
          color: #fff;
          padding-left: 1px;
      }
    }
  }
  
  @media only screen and ( min-width: 1024px ) and (max-width: 1440px) {
    .container {
        margin-top: -10vh;
        margin-left: 40px;
     
        & mat-icon {
          font-size: 40px;
          color: #fff;
          padding-left: -5px;
          margin-top: -5vh;
      }
    }
  }

  @media only screen and ( min-width: 1024px ) and (max-width: 1440px) {
    .container {
        margin-left: 33px;
    }
  }
  
  @media only screen and ( min-width: 700px ) and (max-width: 1000px) {
    .container {
        margin-top: 5vh;

        & mat-icon {
          font-size: 40px;
          color: #fff;
          margin-left: -28px;
      }
  }
}

  @media only screen and ( min-width: 800px ) and (max-width: 1000px) {
    .container {
        margin-top: 5vh;

        & mat-icon {
          font-size: 40px;
          color: #fff;
          margin-left: -26px;
      }
    }
  }

  @media only screen and ( min-width: 820px ) and (max-width: 1000px) {
    .container {
        margin-top: 5vh;

        & mat-icon {
          font-size: 40px;
          color: #fff;
          margin-left: -30px;
      }
    }
  }

  @media only screen and ( min-width: 900px ) and (max-width: 1000px) {
    .container {
        margin-top: 5vh;

        & mat-icon {
          font-size: 50px;
          color: #fff;
          margin-left: -75px;
      }
    }
  }

  @media only screen and ( min-width: 900px ) and (max-width: 1000px) {
    .container {
        margin-top: 5vh;

        & mat-icon {
          font-size: 50px;
          color: #fff;
          margin-left: -30px;
      }
    }
  }

  @media only screen and ( min-width: 520px ) and (max-height: 720px) {
    .container {
        margin-top: 10vh;

        & mat-icon {
          font-size: 30px;
          color: #fff;
          margin-left: -16px;
      }
    }
  }

  @media only screen and ( min-width: 1024px ) and (max-height: 1366px) {
    .container {
        margin-top: 1vh;

        & mat-icon {
          font-size: 30px;
          color: #fff;
          margin-left: -25px;
      }
    }
  }

  @media only screen and ( min-width: 1280px ) and (max-height: 800px) {
    .container {
        margin-top: 5vh;

        & mat-icon {
          font-size: 30px;
          color: #fff;
          margin-left: -15px;
      }
    }
  }
  
