
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$elmaPhotography-primary: mat.define-palette(mat.$indigo-palette);
$elmaPhotography-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$elmaPhotography-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$elmaPhotography-theme: mat.define-light-theme((
  color: (
    primary: $elmaPhotography-primary,
    accent: $elmaPhotography-accent,
    warn: $elmaPhotography-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($elmaPhotography-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~animate.css/animate.min';
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

@font-face {
    font-family: "Montez";
    src: url("assets/fonts/Montez-Regular.ttf");
  }
  
  @font-face {
    font-family: "deRotterdamDemo Regular";
    src: url("assets/fonts/deRotterdamDemo-Regular.otf");
  }

  @font-face {
    font-family: "Breattogis";
    src: url("assets/fonts/Breattogis.otf");
  }
  
  :root {
    --color-primary: #8D00B1;
    --color-secondary: #D8A9ED;
    --color-tertiary: #666666;
    --color-background: #f2f2f2;
    --font-deRotterdam: "deRotterdamDemo Regular", sans-serif;
    --font-montez: "Montez", sans-serif;
    --font-breattogis: "Breattogis", sans-serif;
    --font-smaller: 12px;
    --font-small: 14px;
    --font-normal: 16px;
    --font-large: 18px;
    --font-larger: 20px;
    --font-xl: 22px;
    --font-xxl: 30px;
    --font-xxxl: 38px;
    --font-jumbo: 55px;
  }
  
  body {
    background-color: var(--color-background);
  
    width: 100vw;
    max-width: 100%;
    width: 100vw;
    &::-webkit-scrollbar {
      width: 2px;
      background-color: var(--color-primary);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-secondary);
      border-radius: 3px;
    }
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-secondary);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
